{# index.html #}

<h1>Welcome to Frameshift Finder 2.0!</h1>

<p>Frameshift Finder 2.0 is a web app that reads genomes and identifies overlapping
open reading frames (ORFs) for a potential of single-frame shifts.</p>

{{form.non_field_errors}}
<form enctype="multipart/form-data" action="/fsfinder/" method="post">
	{% csrf_token %}
  <!--<input type="file" name="file" accept=".fasta">-->
	{{form.as_p}}
	{{form.file.errors}}
	<input type="submit" value="Submit" />
</form>

<p>Submit files in FASTA format.</p>
